<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the Red Badger Martian Robot technical test!
  </h1>
</div>


<p>Grid Boundaries</p>
<div *ngIf="hasBoundaries()">
  <p>X-Axis Limit: {{xLimit}}</p>
  <p>Y-Axis Limit: {{yLimit}}</p>
</div>

<label>X Limit</label>
<input [(ngModel)]="x_limit" placeholder="x limit">
<label>Y Limit</label>
<input [(ngModel)]="y_limit" placeholder="y limit">

<div class="full-width">
  <button (click)="setBoundaries(x_limit, y_limit)">Set boundaries</button>
</div>

<h2>Instructions</h2>

<div>
  <p>Add Instruction</p>
  
  <div class="full-width">
    <label>Starting X Position</label>
    <input type="text" [(ngModel)]="startingXPosition">
  </div>
  <div class="full-width">
    <label>Starting Y Position</label>
    <input type="text" [(ngModel)]="startingYPosition">
  </div>
  <div class="full-width">
    <label>Starting Direction</label>
    <input type="text" [(ngModel)]="startingDirection">
  </div>
  <div class="full-width">
    <label>Commands</label>
    <input type="text" [(ngModel)]="commands">
  </div>
  
  <div *ngFor="let instruction of instructions">
    Starting position: {{instruction.robot.currentXPosition}}{{instruction.robot.currentYPosition}}{{instruction.robot.currentDirection}}
    Commands: {{instruction.commands}}
  </div>
  
  <div class="full-width">
    <button (click)="addInstruction(startingXPosition, startingYPosition, startingDirection, commands)">Add instruction/s</button>
    <button (click)="runInstructions()">Run Instruction</button>
  </div>
</div>
  
<div *ngIf="outputs.length > 0">
  <h2>Outputs</h2>
  <div *ngFor="let output of outputs">
    {{output}}
  </div>
</div>
  